.header__nav ul{
	list-style: none;
}

.header__nav ul li{
	margin-right: 60px;
	display: inline-block;
}

.header__nav ul li a{
	font-weight: bold;
	color: black;
	text-decoration: none;
}
.header__flex{
	padding-top: 30px;
	justify-content: space-between;
	align-items: center;
	display: flex;
}
.header__container{
	max-width: 960px;
	position: relative;
	margin: 0px auto;
}
.header__bg{	
	background-image: url(background.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
}
*{
	padding: 0;
	margin: 0;
}
.header__content{
	width: 400px;
	margin-top: 140px;
}
.header__content h1{
	padding-bottom: 15px;
}
.header__content h3{
	font-size: 20px;
	padding-bottom: 15px;
}
.header__content p{
	padding-bottom: 20px;
	color: #555555;;
}
.header__content__icon img{
	padding-right: 20px;
}
.header__content__tablet img{
	position: absolute;
	right: 30px;
	top: 110px;
}

*{
    padding: 0;
    margin: 0;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
	padding-bottom: 167px;
}
.main__content{
	align-items: center;
    text-align: center;
    padding-top: 60px;
    max-width: 730px;
    margin: 0 auto;
}
.main__content h1{
    padding-bottom: 15px;
}
.first__block h1{
 font-size: 25px;
}
.first__block{
    align-items: center;
    display: flex;
    width: 300px;
}
.first__block img{
	
    margin-right: 30px;
}
.first__floor{
	align-items: center;
    margin-top: 50px;
    justify-content: space-between;
    display: flex;
}

.main__footer{
	background-color: black;
	margin: 0 auto;
}
.footer{
	
	margin: 0 auto;
	max-width: 730px;
}

.footer h2{
	padding-top: 100px;
	color: rgb(252, 219,0);
	align-items: center;
	text-align: center;
}

.footer p{
	padding-top: 13px;
	font-size: 20px;
	color: gray;
	text-align: center;
}
.adress{
	padding-bottom: 100px;
	padding-top: 160px;
	max-width: 175px;
	margin: 0 auto;
}
.adress p{
	text-align: center;
	font-size: 16px;
	color: rgb(255, 255, 255);
	

}

.form{
	margin: 0 auto;
}
.form 




























































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































*{
	padding: 0;
	margin: 0  ;
}
